<!DOCTYPE html>
<html>
<head>
  <title>
    Battle!
  </title>
  <link rel="stylesheet" type="text/css" href="bootstrap.css">
  <link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>
<body>
  <div class="container-fluid">
    <div class="row text-center">
      <div class="col-md-10 col-xs-8">
				<h1>Hellooo <%=$player[:player_1].name%> vs. <%=$player[:player_2].name%></h1>

				<h2> <%=$player[:player_2].name%>'s health: <%=$player[:player_2].health%>hp </h2>

				<form action = "/attack" method = "post">
					<input type='submit' name = "attack" value="Attack <%=$player[:player_2].name%>">
				</form>


				<%if @attack %>
					<h3>You attacked <%=$player[:player_2].name%></h3>
					<h3><%=$player[:player_2].name%>'s health is down 2 points</h3>
				<%end %>
			</div>
		</div>	
	</div>
</body>
</html>

