<div> 

<h1>Hellooo <%=$player[:player_1].name%> vs. <%=$player[:player_2].name%></h1>

<h2> <%=$player[:player_2].name%>'s health: 20hp </h2>

<form action = "/attack" method = "post">
	<input type='submit' name = "attack" value="Attack <%=$player[:player_2].name%>">
</form>


<%if @attack %>
	<h3>You attacked <%=$player[:player_2].name%></h3>
<%end %>

</div>

