<div> 

	<h1>Hellooo <%=@player1_name%> vs. <%=@player2_name%></h1>

	<h2> <%=@player2_name%>'s health: 100hp </h2>

	<form action = "/attack" method = "post">
		<input type='submit' name = "attack" value="Attack <%=@player2_name%>">
	</form>


	<%if @attack %>
		<h3>You attacked <%=@player2_name%></h3>
	<%end %>

</div>

